@model PatientPortalSystem.Models.InternalMessage

@{
    ViewData["Title"] = "ReadMessage";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Messenger">Back to Messenger</a>
</div>
