@model IEnumerable<InternalMessage>
@{
    ViewData["Title"] = "Messenger";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Messages</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Doctor" asp-action="SendMessage" class="btn btn-primary">
                <i class="bi bi-plus-circle-dotted"></i> New Message
            </a>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Inbox</h4>
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            From
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            Received
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        @if (obj.ReceiverId == ViewBag.UserId)
                        {
                            <tr>
                                <td>
                                    @obj.SenderEmail
                                </td>
                                <td>
                                    @obj.Subject
                                </td>
                                <td>
                                    @obj.MessageTime
                                </td>
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Doctor" asp-action="ReadMessage" asp-route-id="@obj.MessageId"
                                           class="btn btn-primary mx-2"> <i class="bi bi-envelope-open"></i>Open</a>
                                        <a asp-controller="Doctor" asp-action="DeleteMessage" asp-route-id="@obj.MessageId"
                                           class="btn btn-primary mx-2"> <i class="bi bi-trash"></i>Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
   
        <div class="col">
            <h4>Outbox</h4>
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            To
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            Sent
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        @if (obj.SenderId == ViewBag.UserId)
                        {
                            <tr>
                                <td>
                                    @obj.ReceiverEmail
                                </td>
                                <td>
                                    @obj.Subject
                                </td>
                                <td>
                                    @obj.MessageTime
                                </td>
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Doctor" asp-action="ReadSentMessage" asp-route-id="@obj.MessageId"
                                           class="btn btn-primary mx-2"> <i class="bi bi-envelope-open"></i>Open</a>
                                    </div>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
